[features]
seeds = false
skip-lint = false
[programs.localnet]
movie_review = "71HDQWkc3Sr9ZhnL2xxPBUPfxvQXPZLLwync9oWoBN8T"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "./id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
